<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dfbase.mapper.SysDictionaryMapper" >
  <resultMap id="BaseResultMap" type="org.dfbase.entity.SysDictionary" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="APP_ID" property="appId" jdbcType="BIGINT" />
    <result column="DIC_CODE" property="dicCode" jdbcType="VARCHAR" />
    <result column="DIC_VALUE" property="dicValue" jdbcType="VARCHAR" />
    <result column="DIC_NAME" property="dicName" jdbcType="VARCHAR" />
    <result column="DIC_ORDER" property="dicOrder" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_ID, DIC_CODE, DIC_VALUE, DIC_NAME, DIC_ORDER, PARENT_ID, REMARKS, CREATE_DATE, 
    UPDATE_DATE, CREATE_BY, UPDATE_BY, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.dfbase.entity.SysDictionary" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_dictionary (APP_ID, DIC_CODE, DIC_VALUE, 
      DIC_NAME, DIC_ORDER, PARENT_ID, 
      REMARKS, CREATE_DATE, UPDATE_DATE, 
      CREATE_BY, UPDATE_BY, DEL_FLAG
      )
    values (#{appId,jdbcType=BIGINT}, #{dicCode,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, 
      #{dicName,jdbcType=VARCHAR}, #{dicOrder,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT}, 
      #{remarks,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.dfbase.entity.SysDictionary" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="dicCode != null" >
        DIC_CODE,
      </if>
      <if test="dicValue != null" >
        DIC_VALUE,
      </if>
      <if test="dicName != null" >
        DIC_NAME,
      </if>
      <if test="dicOrder != null" >
        DIC_ORDER,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="dicCode != null" >
        #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicOrder != null" >
        #{dicOrder,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.dfbase.entity.SysDictionary" >
    update sys_dictionary
    <set >
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=BIGINT},
      </if>
      <if test="dicCode != null" >
        DIC_CODE = #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        DIC_VALUE = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        DIC_NAME = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicOrder != null" >
        DIC_ORDER = #{dicOrder,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.dfbase.entity.SysDictionary" >
    update sys_dictionary
    set APP_ID = #{appId,jdbcType=BIGINT},
      DIC_CODE = #{dicCode,jdbcType=VARCHAR},
      DIC_VALUE = #{dicValue,jdbcType=VARCHAR},
      DIC_NAME = #{dicName,jdbcType=VARCHAR},
      DIC_ORDER = #{dicOrder,jdbcType=INTEGER},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      DEL_FLAG = #{delFlag,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>