<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dfbase.mapper.SysModuleMapper" >
  <resultMap id="BaseResultMap" type="org.dfbase.entity.SysModule" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="APP_ID" property="appId" jdbcType="BIGINT" />
    <result column="MOD_CODE" property="modCode" jdbcType="VARCHAR" />
    <result column="MOD_NAME" property="modName" jdbcType="VARCHAR" />
    <result column="MOD_VALUE" property="modValue" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="MOD_ICON" property="modIcon" jdbcType="VARCHAR" />
    <result column="ACCORDION" property="accordion" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="MOD_ORDER" property="modOrder" jdbcType="INTEGER" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_ID, MOD_CODE, MOD_NAME, MOD_VALUE, LINK_URL, MOD_ICON, ACCORDION, PARENT_ID, 
    MOD_ORDER, REMARKS, CREATE_DATE, UPDATE_DATE, CREATE_BY, UPDATE_BY, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_module
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_module
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.dfbase.entity.SysModule" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_module (APP_ID, MOD_CODE, MOD_NAME, 
      MOD_VALUE, LINK_URL, MOD_ICON, 
      ACCORDION, PARENT_ID, MOD_ORDER, 
      REMARKS, CREATE_DATE, UPDATE_DATE, 
      CREATE_BY, UPDATE_BY, DEL_FLAG
      )
    values (#{appId,jdbcType=BIGINT}, #{modCode,jdbcType=VARCHAR}, #{modName,jdbcType=VARCHAR}, 
      #{modValue,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{modIcon,jdbcType=VARCHAR}, 
      #{accordion,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT}, #{modOrder,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.dfbase.entity.SysModule" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="modCode != null" >
        MOD_CODE,
      </if>
      <if test="modName != null" >
        MOD_NAME,
      </if>
      <if test="modValue != null" >
        MOD_VALUE,
      </if>
      <if test="linkUrl != null" >
        LINK_URL,
      </if>
      <if test="modIcon != null" >
        MOD_ICON,
      </if>
      <if test="accordion != null" >
        ACCORDION,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="modOrder != null" >
        MOD_ORDER,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="modCode != null" >
        #{modCode,jdbcType=VARCHAR},
      </if>
      <if test="modName != null" >
        #{modName,jdbcType=VARCHAR},
      </if>
      <if test="modValue != null" >
        #{modValue,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="modIcon != null" >
        #{modIcon,jdbcType=VARCHAR},
      </if>
      <if test="accordion != null" >
        #{accordion,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="modOrder != null" >
        #{modOrder,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.dfbase.entity.SysModule" >
    update sys_module
    <set >
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=BIGINT},
      </if>
      <if test="modCode != null" >
        MOD_CODE = #{modCode,jdbcType=VARCHAR},
      </if>
      <if test="modName != null" >
        MOD_NAME = #{modName,jdbcType=VARCHAR},
      </if>
      <if test="modValue != null" >
        MOD_VALUE = #{modValue,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="modIcon != null" >
        MOD_ICON = #{modIcon,jdbcType=VARCHAR},
      </if>
      <if test="accordion != null" >
        ACCORDION = #{accordion,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="modOrder != null" >
        MOD_ORDER = #{modOrder,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.dfbase.entity.SysModule" >
    update sys_module
    set APP_ID = #{appId,jdbcType=BIGINT},
      MOD_CODE = #{modCode,jdbcType=VARCHAR},
      MOD_NAME = #{modName,jdbcType=VARCHAR},
      MOD_VALUE = #{modValue,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      MOD_ICON = #{modIcon,jdbcType=VARCHAR},
      ACCORDION = #{accordion,jdbcType=INTEGER},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      MOD_ORDER = #{modOrder,jdbcType=INTEGER},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      DEL_FLAG = #{delFlag,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>